#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.buttons img {
  height: 1rem;
}
.error {
  background-color: rgb(212, 17, 17);
  color: white;
}
.error:focus,
.error:focus-visible {
  outline: none;
}

.add-form .input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-control {
  border-radius: 0.4rem;
  font-size: large;
}

.list-container {
  max-height: 70vh;
  border-radius: 1rem;
  flex: 1;
  overflow: auto;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20vw;
}

.add-form {
  margin-top: 1rem;
}

.complete {
  color: #888;
  text-decoration: line-through;
}

.TodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-bg {
  position: fixed;
  inset: 0;
  background-color: #0000005a;
}

.modal {
  background-color: #eee;
  color: black;
  width: 50%;
  max-width: 500px;
  margin: 5rem auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px #00000035;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}