html, body {
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}

header, footer {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}


