.App {
  text-align: center;
}

.navbar-container {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: greenyellow;
}

.list-container {
  width: fit-content;
  margin: 0 auto;
}

.book-post {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid black;
}

.book-text {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 1rem;
  text-align: left;
}

.selected {
  background-color: greenyellow;
}