.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: greenyellow;
}

.book-post {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.book-text {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.book-chosen {
  background-color: cornsilk;
}