div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hide {
    display:none;
}

#start {
    min-height: 80vh;
}

#lake {
    background-color: aqua;
    min-height: 5rem;
    border-radius: 2rem;
    width: 50vw;
    margin: auto;
}

#round {
    flex-direction: column;
    position: fixed;
    background-color: cadetblue;
    z-index: 1;
    padding: 0 25px;
    left: 25%;
    top: 15%;
    width: 50%;
    min-height: 50%;
    height: fit-content;
    margin:auto;
    overflow: auto;
}

#cardholder {
    justify-content: flex-start;
}

#cardholder img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

#ask {
    padding: 1rem;
}

#ask select {
    margin-right: 1rem;
}
