
header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 1rem;
}

img{
    border-radius: 1rem;
}

.linklist {
    display:none;
    list-style: none;
    padding: 5px 0;
    border-radius: 0.5rem;
}

.shown {
    display: block;
}

#navbutton {
    font-size: 3rem;
    text-decoration: none;
    margin-right: 15px;
    line-height: 1rem;
    padding: 0px 5px 7px 5px;
    border-radius: 0.5rem;
    border: 3px solid black;
}

#navigation li {
    display: block;
    padding: 0 20px;
    border-bottom: 1px solid black;
    line-height: 2em;
    height: 2em;
}

#navigation a, #navigation a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#navigation li:first-child {
    display: none;
}

#navigation li:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    
    header {
        display: none;
    }

    #navigation ul {
        display:flex;
    }

    #navigation li {
        border-bottom: none;
        padding: 0 10px;
    }

    #navigation li:nth-child(2) {
        margin-left: auto;
    }

    #navigation li:first-child {
        display: inline-block;
    }    

}