:root {
    --main-bg-color: #fcba12;
    --secondary-color: #fed777;
    --tertiary-color: #a77802;
    --bright: #fff5dc;
    --dark: #342809;
  }  

main {
    background-color: var(--main-bg-color);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

fieldset {
    margin-top: 10px;
    text-align: left;
    background-color: var(--secondary-color);
}

legend {
    padding: 5px;
    background: var(--tertiary-color);
    color: var(--bright);
}

label {
    font-size: 1rem;
    margin: 5px;
    display:block;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 0.5rem 2rem;
    color: var(--bright);
    background-color: var(--dark);
    border: 1px solid var(--tertiary-color);
    border-radius: 1rem;
    font-size: 1.1rem;
}

#inga {
    border-top: #342809 1px solid;
}

@media (min-width: 480px) {
    main {
        padding: 1.5rem;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 1rem;
        line-height: 1.5em;
    }

    main {
        padding: 2rem;
    }

    #extras {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #inga {
        grid-column: 1/-1;
    }
}
